//
   Created by Yc on 2016/6/17.
extends layout

block content
    -var username = req.session.username;
    -var books = otherRecentBooks;
    ul.nav.nav-pills.nav-justified(style='margin-bottom:10px;')
        //li.active
        //    a(href='#sellinfo',aria-controls="home" role="tab" data-toggle="tab") 销售情况
        li.active
            a(href='#buybooks',aria-controls="home" role="tab" data-toggle="tab") 当前销售单共有 #{books.length} 种产品
    div.tab-content
        div.tab-pane.active#buybooks(role='tabpanel')
            p.text-justify
                a.pull-right.btn.btn-lg.btn-default(onclick='print("sale")') 打印销售单
            - var tableheads = ['#','货品名称','数量','单位','单价','条形码'];
            div.table-responsive(id="sale")
                table.table.table-hover
                    thead
                        tr
                         -each thx in tableheads
                          th=thx
                    tbody
                        -each book,i in books
                          tr(data-popImage='/image/books/#{book.bookID}')
                            td=i+1
                            td(class="input" contenteditable='true') #{book.bookID}
                            td(class="input" contenteditable='true') #{book.quantity}
                            td=book.press
                            td=book.price
                            td=book.author

    script(src='/javascripts/utils.js')
    script(src='/javascripts/onKeyDown.js')
